body {
    background-color: lightskyblue;
}

h1 {
    justify-content: center;
    display: flex;
    background: gold;
    padding: 10px;
    font-family: sans-serif;
}


td {
    justify-content: center;
    border: 1px solid gold;
    height: 400px;
    width: 400px;
    cursor: pointer;
    text-align: center;
    font-size: 200;
    font-weight: bold;
    
 }
 
 button {
     font-size: 150px;
     color: lightskyblue;
    background-color: gold; 

 }

 table {
     width: 100vw;
     height: 100vh;
     display: grid;
     justify-content: center;
     align-content: center;
 }

 .winningMessage {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
 }